@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

body, a {
	margin: 0px;
	color: white;
	background-color: #313131;
	font-family: 'DM Sans', sans-serif;
	text-decoration: none;
	font-size: 1.1em;
}
header {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 40px;
	background-color: #1e1e1ec2;
	backdrop-filter: blur(15px);
	border-bottom: 1px #454545 solid;
}
button:active {
	background-color: #676767;
}
button:hover {
	cursor: pointer;
	background-color: #535353;
}
button {
	color: white;
	font-family: 'DM Sans', sans-serif;
	background-color: transparent;
	border: white 1px solid;
	font-size: 1em;
	padding: 10px;
	padding-left: 15px;
	padding-right: 15px;
	border-radius: 10px;
	transition: background-color 0.1s ease-in-out;
}
#main-content {
	margin-top: 40px;
	padding: 5px;
	padding-left: 40px;
	padding-right: 40px;
}
.primary {
	font-weight: bold;
}
.secondary {
	color: darkgrey;
	font-size: 0.8em;
}
.medium-game-icon {
	display: inline-block;
	padding: 10px;
	margin: 5px;
	width: 150px;
	height: 200px;
	transition: background-color 0.1s ease-in-out;
	border-radius: 10px;
	cursor: pointer;
}
.medium-game-icon:hover {
	background-color: #494949;
}
.medium-game-icon img {
	display: block;
	margin-bottom: 10px;
	border-radius: 5px;
}
.medium-game-icon span {
	display: block;
}